@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e2e7ea;
  background-image: url(../assets/images/logo1.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: top -24% left -7%;
}

.form-width {
  width: 910px;
  margin: 50px auto;
  border-radius: 20px;
  background-color: #fff;
}

.form-width .form-wrap {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.form-width .form-wrap .left-side {
  width: 50%;
  border-right: 1px solid #ddd;
}

.form-width .form-wrap .left-side .logo img {
  width: 160px;
}

.form-width .form-wrap .left-side .heading {
  margin-top: 80px;
}

.form-width .form-wrap .left-side .heading h2 {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-width .form-wrap .left-side .heading p {
  font-weight: 300;
  color: #b9bdbe;
}

.form-width .form-wrap .left-side .art-image {
  margin-top: 80px;
}

.form-width .form-wrap .left-side .art-image img {
  width: 260px;
}

.form-width .form-wrap .right-side {
  width: 50%;
  padding-left: 50px;
}

.form-width .form-wrap .right-side h2 {
  font-size: 28px;
  color: #212121;
}

.form-width .form-wrap .right-side form {
  margin-top: 80px;
}

.form-width .form-wrap .right-side form .form-control {
  margin-bottom: 20px;
}

.form-width .form-wrap .right-side form .form-control #emailMessege,
.form-width .form-wrap .right-side form .form-control #emailMessege1 {
  color: #d30000;
  margin-left: 10px;
  font-size: 14px;
}

.form-width .form-wrap .right-side form .form-control label {
  display: block;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #212121;
  font-weight: 300;
}

.form-width .form-wrap .right-side form .form-control input {
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #dfe4e8;
  border-radius: 20px;
  outline: none;
}

.form-width .form-wrap .right-side form .form-control input::placeholder {
  color: #dfe4e8;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.form-width .form-wrap .right-side form .form-control input[type=checkbox] {
  width: 15px;
  height: 15px;
  opacity: .3;
}

.form-width .form-wrap .right-side form .form-control span {
  font-size: 14px;
  color: #e2e7ea;
  font-weight: 300;
}

.form-width .form-wrap .right-side form .form-control span a {
  color: inherit;
}

.form-width .form-wrap .right-side form .form-control input[type=submit] {
  display: inline-block;
  width: 130px;
  padding: 12px 15px;
  background-color: #45ba62;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 0 5px #ddd;
  cursor: pointer;
}

.form-width .form-wrap .right-side form .password {
  position: relative;
}

.form-width .form-wrap .right-side form .password img {
  position: absolute;
  top: 36px;
  right: 17px;
  width: 20px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */